body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16pt; 
    background-color: #ffff;
  }

  header{
    background: #fff;
    border-bottom: 3px solid #696969;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .navlinks{
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .about, .portfolio, .resume {
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }

  body.about li.about, body.portfolio li.portfolio{
    text-decoration: underline;
  }
  
  nav li a:hover {
    color: #800040;
  }

  .headshot, .color, .collageimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    padding: 5px;
  }

  .mission, .strengths{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
  }

  .mision_items, .strengths_items{
    grid-column: 2 / span 1;
  }

  .mission_items li, .strengths_items li{
    text-align: center;
    font-weight: bold;
  }


  /*for collage*/
  .sketches{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
  }

  .sketchitems{
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
  }

/*for weather */
.weather_sketch{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr 2fr;
}

.weather_imgs_1, .weather_imgs_2{
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto auto;
  justify-items: center;
}



  h1{
    font-size: 2em;
    text-align: center;
    line-height: 2;
    padding: 10px;
  }
  
  h2{
    font-size: 1.5em;
    text-align: center;
    padding: 20px 10px;
  }
  
  p {
    padding: 10px 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  a.skip{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  }
  
  a.skip:focus{
    top:20px;
    color: black;
    text-decoration-style: solid;
  }

  .projects img:hover {
    box-shadow: 0 0 2px 1px black;
  }

  a, a:visited{
    text-decoration: none;
    color: black;
  }
  
  *:focus{
    border: 2px solid black;
  }
  
  footer{
    background-color: black;
    color: white;
    padding: 30px;
    text-align: center;
  }

  .projects{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .ldc, .weather, .riseup, .collage{
    padding: 5px;
  }

  @media screen and (min-width: 600px){
    header{
      flex-direction: row;
      justify-content: space-between;
    }
  
    .navlinks{
      justify-content: space-between;
      flex-direction: row;
    }

    .nav_item a{
      padding: 10px;
    }

    .projects{
      flex-basis: 150 px;
    }
  }

  @media screen and (min-width: 1000px){
    header{
      flex-direction: row;
      justify-content: space-between;
    }
  
    .navlinks{
      justify-content: left;
      flex-direction: row;
    }

    .nav_item a{
      padding: 10px;
    }

    .projects{
      flex-basis: 225 px;
    }

    .ldc{
      padding-left: 10px;
    }

    .weather{
      padding-left: 0px;
    }


  }
  